<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
</head>
<body>
    <div class="container">    
        <h1  id="test">Enter Your Information <small>by Alankrit Gupta</small> </h1>
        <div class="jumbotron ">
            <form class="inputForm" method="POST" autocomplete="off">
                <h3>Information</h3><br>
                <div class="form-group">
                    <label for="email">email: </label>
                    <input type="text" name='email' placeholder="Enter email" class="form-control "></input>
                </div>
                <div class="form-group">
                    <label for="subject">Subject: </label>
                    <input type="text" name='subject' placeholder="Enter Subject" class="form-control "></input>
                </div>
                <div class="form-group">
                    <label for="Text">Text: </label>
                    <input type="text" name='text' placeholder="Enter text" class="form-control "></input>
                </div>
                <button type ="submit" class="btn btn-primary" >Enter</button>
                <!-- onclick="myValidaiton()" -->
            </form>
        </div>
    </div>
</body>
</html>